/* include reset stylesheet */
@import url(reset.css);

@mixin bar($side) {
  background-color: #CF682F;
  border-($side): #973B0E 1px solid;
  color: white;
  font-family: Arial,sans-serif;
  font-weight: bold;
  height: 1.6em;
  line-height: 1.6em;
}

#navi {
  @include bar(top);
}


#footer {
  @include bar(bottom);
}

#content {
  color: #FFD0AE;
  font-size: .85em;
  margin: 1px .5em;
}

