/* include reset stylesheet */
@import url(reset.css);

#navi {
	background-color: #CF682F;
	border-bottom: #973B0E 1px solid;
	color: white;
	font-family: Arial,sans-serif;
	height: 1.6em;
}


#footer {
	background-color: #CF682F;
	border-top: #973B0E 1px solid;
	color: white;
	font-family: Arial,sans-serif;
	font-weight: bold;
	height: 1.6em;
	line-height: 1.6em;
}

#content {
	color: #FFD0AE;
	font-size: .85em;
	margin: 1px .5em;
}
